@import "tailwindcss";

html {
  color-scheme: light;
}

body {
  font-family:
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
}

/* Data grid cao theo container, chữ vừa phải */
.rdg {
  block-size: 100%;
  font-size: 0.875rem;
}
